ENV="development" # or production
 
# backend
HOST="localhost"
ADDR=":8080"
READ_TIMEOUT=10
WRITE_TIMEOUT=10
IDLE_TIMEOUT=60
MIDDLEWARE="http://localhost:80"

# jwt
API_SECRET=

# database
POSTGRES_DB=self-dev
POSTGRES_USER==admin
POSTGRES_PASSWORD=admin
POSTGRES_URL=postgres://admin:admin@db:5432/self-dev
REDIS_URL=redis://:admin@redis:6379/0

# goose environment
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://admin:admin@localhost:5432/self-dev
GOOSE_MIGRATION_DIR=./backend/migrations

# resend
RESEND_API_KEY=""
FROM_EMAIL=""
ENDPOINT="http://localhost:80/verify-email/%s"
SUBJECT='Confirm your email'