# database
DATABASE_URL=postgres://admin:admin@db:5432/self-dev

# goose environment
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://admin:admin@db:5432/self-dev
GOOSE_MIGRATION_DIR=./backend/migrations